.page{
    background-color:rgb(10, 10, 10);
}

.calculator{
    display: flex;
    justify-content: center;
    margin: auto;
}

.body{
    height: 500px;
    width: 350px;
    background: linear-gradient(rgb(141, 144, 146),rgb(48, 52, 53));
    border-radius: 20px;
    border: 3px solid;
    border-color: rgb(177, 192, 198);
}

.screen{
    height: 90px;
    width: 320px;
    background-color: beige;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: right;
    border-radius: 10px;
    border: 3px solid;
    border-color: rgb(111, 131, 144);
}

#screen-content{
    font-size: 50px;
    margin-right: 10px;
}

.row0{
    display: flex;
    justify-content: end;
    margin-right: 30px;
    gap: 30px;
    margin-bottom: 16px;
}

.row1{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 16px;
}

.row2{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 16px;
}

.row3{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 16px;
}

.row4{
    display: flex;
    justify-content: space-evenly;
}

.button{
    font-size: 40px;
    border-radius: 12px;
    width: 50px;
    border: 3px solid;
    border-color: rgb(108, 135, 140);
    background-color:antiquewhite;
}

.function{
    background-color:cadetblue
}

.equals{
    background-color:forestgreen
}

#backspace{
    background-color: coral;
}

#clear{
    background-color: crimson;
}

.operator-toggle{
    background-color: rgb(96, 96, 223);
}

button:hover{
    filter: brightness(75%);
}